@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
.container {
    width: 23.5em;
    height: 6.25em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 15px;
}

.box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    font-weight: bold;
    border: 1px solid #cccccc;
    border-radius: 4px;
    height: 3.75em;
    width: 12.5em;
    color: #4a5154;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.875em;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 21em;
        height: 6.25em;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        gap: 10px;
    }
    .box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        font-weight: bold;
        border: 1px solid #cccccc;
        border-radius: 4px;
        color: #4a5154;
        height: 5.625em;
        width: 6.875em;
        font-family: 'Open Sans', sans-serif;
        font-size: 0.875em;
    }
    .box p {
        margin: 0;
    }
}

.box img {
    padding: 0.5em;
    max-width: 42px;
}

.container input[type="checkbox"] {
    visibility: hidden;
    width: 0;
    height: 0;
}

.container input[type="checkbox"]:checked~.box {
    color: #118bcc;
    border: 2px solid #118bcc;
}

.container input[type="checkbox"]:checked~.box>img {
    content: url('blue.png');
}

.labelcont {
    position: relative;
}

.invlabel {
    position: absolute;
    height: 100%;
    width: 100%;
}